body {
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
}

.filme-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.filme-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.filme-info {
    font-size: 14px;
    color:gray;
}
